{% extends 'DataHubSharedBundle:Default:base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <h1>403 - Forbidden</h1>
    <p>You are not allowed to access the contents of this page.</p>
</div>
{% endblock %}
