{% extends 'DataHubSharedBundle:Default:base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <h1>404 - Page not found</h1>
    <p>The page you were looking for, could not be found.</p>
</div>
{% endblock %}
