{% extends 'app/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            {% set menuItem = knp_menu_get('main', ['Administration']) %}
            {{ knp_menu_render(['main', 'Administration']) }}
        </div>

        <div class="col-sm-9">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
