/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters.yml.*
!/app/config/parameters.yml.test
!/app/config/parameters.yml.dist
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/web/media/
.fresh_deployed
.idea/
*.php~
docs/build/
docs/cache/
scripts/coverage
node_modules