{% extends 'VKCDataHubUserBundle::layout.html.twig' %}

{% set page_title = 'layout.register' | trans({}, 'FOSUserBundle') %}

{% block content %}
<p>{{ 'registration.check_email' | trans({ '%email%': '<strong>' ~ user.email ~ '</strong>' }, 'FOSUserBundle') | raw }}</p>

<div class="btn-group">
    <a href="{{ path('vkc_datahub_shared_default_index') }}" class="btn btn-default">
        <i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}
    </a>
</div>
{% endblock %}
