{% extends 'DataHubUserBundle::layout.html.twig' %}

{% set page_title = 'resetting.request.submit' | trans({}, 'FOSUserBundle') %}

{% block content %}
<form action="{{ path('fos_user_resetting_reset', { 'token': token }) }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <input type="submit"  class="btn btn-default" value="{{ 'resetting.reset.submit' | trans({}, 'FOSUserBundle') }}">
</form>
{% endblock %}
